<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here input the title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/Layout2.css">
</head>
<body>
    <div class="HeadWrap">
            
        <span class="AppName_Little">
            Balance<br>Management
        </span>
        <div class="Menu">
            <a href="" class="Head_Button">
                Home
            </a>
            <a href="" class="Head_Button">
                Input
            </a>
            <a href="" class="Head_Button">
                History
            </a>
            <a href="" class="Head_Button">
                Report
            </a>
            <a href="" class="Head_Button">
                Master
            </a>
        </div>
        <div class="Profile">
            <ul>
                <li>
                    User:svc5brid
                </li>
                <li>
                    Profile:Test_Main
                </li>
            </ul>
        </div>
        
        <!-- クリックするとユーザー、プロファイルが表示される的な
        <div class="Profile">

        </div> -->
    </div>
    <div class="BodyWrap">
        <div class="LeftWrap">
    
        </div>
        <div class="Wrap_Main">
            Content Area
        </div>
    </div>
    <div class="FootWrap">
        <span class="Copyright">
            Copyright © 2022 svc5brid All Rights Reserved.
        </span>
    </div>
</body>
</html>