<!-- 必須 -->
{% extends 'Balance-Management/Layout1_HasLeftIcon.html' %}
{% load static %}
<!-- head内のタイトル -->
{% block title %}
Select Profile
{% endblock %}
<!-- 固有のcssがあれば記載 -->
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'css/AboutUs.css' %}"> -->

{% endblock %}
<!-- ボディー部分 -->
{% block bodywrap %}
    <h1>
        Select Profile here
    </h1>
    <select name="" id="">
        {% for i in Profile %}
        
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select>
    <button>
        Go
    </button>
    <h1>
        Create New Profile here
    </h1>
    <label for="">
        Profile Name
        <input type="text" id="Form_Create_Name">
    </label>
    <span id="name_useable">

    </span>
    <label for="">
        Choice User 1
        <select name="" id="Form_Create_User1">
            <option disabled selected>select user2</option>
            {% for i in UserList %}
        
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label for="">
        Choice User 2
        <select name="" id="Form_Create_User2" disabled>
            <option disabled selected>select user2</option>
        </select>
    </label>
    <button>
        Create
    </button>
    
{% endblock %}
<!-- javascriptがあれば記載。 -->
{% block javascript %}
<script>
    //csrf_token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    //Confirm useable of inputted profile name
    $('#Form_Create_Name').change(function(e){
        //execute only inputted anything
        if($("#Form_Create_Name").val()!=""){
            //リクエストの設定
            $.ajax({
                //urlが送信先
                'url': '{% url "Balance_Management:SelectProfile_API" %}',
                //typeはgetなのかpostなのか。
                'type': 'POST',
                //サーバーに送信するデータ。
                'data': {
                    'type': "confirm_name",
                    'name_profile': $('#Form_Create_Name').val(),
                },
                //上のデータ形式。
                'dataType': 'json'
            })
            .done(function(response){
                const judge = response.judge;
                $("#name_useable").html(judge);
                console.log(judge)
            });
        }else{
            $("#name_useable").html("");
        }
    })

    //送信のところ。submitを検知する。
    $('#Form_Create_User1').change(function(e){
        //送信を止める
        e.preventDefault();
        //リクエストの設定
        $.ajax({
            //urlが送信先
            'url': '{% url "Balance_Management:SelectProfile_API" %}',
            //typeはgetなのかpostなのか。
            'type': 'POST',
            //サーバーに送信するデータ。
            'data': {
                'type': "get_user",
                'user1': $('#Form_Create_User1').val(),
            },
            //上のデータ形式。
            'dataType': 'json'
        })
        .done(function(response){
            const a = response.User2;
            const select = document.getElementById("Form_Create_User2")
            if (select.hasChildNodes()) {
                while (select.childNodes.length > 0) {
                    select.removeChild(select.firstChild)
                }
            }
            const option = document.createElement('option');
            option.disabled = true;
            option.innerHTML = "select user2"
            option.selected = true
            select.appendChild(option)
            a.forEach((value, index) => {
                const option = document.createElement('option');
                option.value = value.id;
                option.innerHTML = value.name;
                select.appendChild(option);
            })
            select.disabled = false;
        });
    })
</script>

{% endblock %}