{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/slick.css' %}">
    <script type="text/javascript" src="{% static 'javascript/jquery-3.6.0.js' %}"></script>
    
    <script src="{% static 'javascript/index/slick.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/index/index.js' %}" type="text/javascript"></script>
</head>
<body>
    <div class="headwrap">
        <div class="title">
            <span>ホーム</span>
        </div>
        <div class="links">
            <a href="">home</a>
            <a href="">login</a>
        </div>
    </div>
    <div class="apps">apps
    </div>
    <table class="appcat">
        <thead>
            <tr>
                <th class="app_th app_th_home app_th_selected">Home</th>
                <th class="app_th app_th_content app_th_all">All</th>
                <th class="app_th app_th_content app_th_R">Recently added</th>
                <th class="app_th app_th_content app_th_E">Entertainment</th>
                <th class="app_th app_th_content app_th_U">Utility</th>
                <th class="app_th app_th_content app_th_I">Information</th>
                <th class="app_th app_th_content app_th_G">Game</th>
                <th class="app_th app_th_content app_th_O filter">Others</th>
            </tr>
        </thead>
    </table>
    <div class="body show" id="home">
        <table class="home" border="1" style="border: 1px solid #000;">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>内容</th>
                    <th>担当</th>
                </tr>
                <tr>
                    <td>2/20</td>
                    <td>開発</td>
                    <td>丹羽</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="body content slider" id="content">
        <a class="app_td_R app_td_U app_td_I" href="{% url 'index_bm' %}"><div class="slider__item tile tile1">収支管理</div></a>
        
        <a class="app_td_R app_td_E" href=""><div class="slider__item tile tile1">B</div></a>
        <a class="app_td_U" href=""><div class="slider__item tile tile1">C</div></a>
        <a class="app_td_I" href=""><div class="slider__item tile tile1">D</div></a>
        <a class="app_td_I" href=""><div class="slider__item tile tile1">D</div></a>
        <a class="app_td_I" href=""><div class="slider__item tile tile1">D</div></a>
        <a class="app_td_G" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
        <a class="app_td_O" href=""><div class="slider__item tile tile1">E</div></a>
    </div>
    <script type="text/javascript">
        
    </script>
    
</body>
</html>