{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="content">

        <form method="POST">{% csrf_token %}
            {% if form.errors %}
                <p>ユーザー名またはパスワードが間違っています。もう一度入力してください。</p>
            {% endif %}
            <h2>ログイン</h2>
            <div class="main">
                <label>ユーザー名</label>
                <input name="username" placeholder="Email Address">
                <br>
                <label>パスワード</label>
                <input type="password" name="password" placeholder="Password">
                <br>
                <input id="submit" type="submit" value="ログイン">
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            </div>
            <a id="signup" href="{% url 'signup' %}">新規登録</a>
        </form>
    </div>
</body>
</html>